body {
    background-color: rgb(191, 220, 247);
}

h2,
h3 {
    color: black;
}

h1 {
    color: black;
    background: linear-gradient(-20deg, #fff, #9293e7)
}

p {
    color: #3661ff;
}

span#wa {
    color: #555657;
}

span#iwata {
    color: #f78bc8
}

#takeuti {
    color: #8b9af7
}